<main id="main">

    <div id="main-content">
        <h1 style="color: hsl(0deg 100% 54.51%);">Bright Future</h1><br>
        <h3><b>Introduction about the program and details</b></h3><br>
        <p>When life has placed you in a situation where survivig seems impossible. Turn to other giving souls who understand your struggle.<br> 2Hands Helpers.</p><br><br>
        <p>There have been over 40,000 people who have found amazing helpers who changed their lives.</p><br><br>
        <h3>Latest Updates</h3><br>
        <h4>The purpose</h4><br>
        <p>If you happen to find yourself in a position of financial difficulty, you may be able to receive donations. There happens to be some generous people out there who would give. </p><br><br>
        <h4>Documentation</h4>
        <br>
        <p>You do not have to be "Totally" Desperate to become a Site Member. It's just the name of this website</p>
    </div>

    <div id="main-links">

        <div class="box">
            <h2>Subscribe!</h2>
            <ul>
                <li> <i class="fa fa-rss" aria-hidden="true"></i> <a href="#">Subscribe via RSS</a>  </li>
                <li> <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Get Email Updates</a>  </li>
                <li> <i class="fa fa-twitter-square" aria-hidden="true"></i> <a href="#">Follow us on Twitter</a>  </li>
            
            </ul>
        </div>

        <div class="box">
            <h2>Popular Items</h2>
            <ul>
                <li>  <a href="#">The methods</a>  </li>
                <li>  <a href="#">Campaigns</a>  </li>
                <li>  <a href="#">Formalities</a>  </li>
            </ul>
sd
        </div>

        <div class="box">
            <h2>Contributors</h2>
            <ul>
                <li>  <a href="#">Names.Place</a>  </li>
                <li>  <a href="#">Names.Place</a>  </li>
                <li>  <a href="#">Names.Place</a>  </li>
            </ul>

        </div>

        <button id="button" class="box"  routerLink="/employee-form">
            Join our main team 
        </button>


    </div>


</main>
