<nav id="navbar">
    <ul>
        <li (click)="navigate('/home')" routerLink="/home" routerLinkActive="active" > Home </li>

        <li  (click)="navigate('/employee-list')" routerLink="/employee-list" routerLinkActive="active">Employees List</li>
        <li (click)="navigate('/employee-form')" routerLinkActive="active">Employee Form</li>
        <li  (click)="navigate('/roles')" routerLink="/roles" routerLinkActive="active"> Roles</li>
        <li  (click)="navigate('/list')" routerLink="/roles" routerLinkActive="active"> List</li>
    </ul>
</nav>