
<div>

  <div id="records">
   <span>Total : {{recordsCount}}   </span> 
  </div>

<div id="pgNum">
  <!-- <button>{{currentPage-1}}</button> -->
    {{currentPage}} 
    <!-- <button>{{currentPage+1}}</button> -->
</div>
<div>


<span>Items per page:</span>
<!-- 
    <select name="options"  (change)="onPageSizeChange($event)" [(ngModel)]="pSize" id="ops"> 

        <option [value]="3">3</option>
        <option [value]="6">6</option>
        <option [value]="9">9</option>

    </select> -->

    <mat-form-field appearance="outline" >
        <mat-select [(ngModel)]="pSize" name="options" (selectionChange)="onPageSizeChange($event)">
          <mat-option [value]="3">3</mat-option>
          <mat-option  [value]="6">6</mat-option>
          <mat-option  [value]="9">9</mat-option>
        </mat-select>
      </mat-form-field>

    <button (click)="previousPage()" [disabled]="currentPage === 1"> <<< </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">  >>> </button>
  </div>
</div>
